.temperature {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature div {
  font-size: 40px;
}
h3, h4{
  text-align: center;
}
.info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #5cd6a3;
  margin-bottom: 10px;
}
.title {
  color: #defde3;
}
